body {
  background-color: white;
}

body .content {
  margin-left: 15vw;
  margin-top: 30vh;
  background-color: #474747;
  -webkit-box-shadow: 01px 5px 5px grey;
  box-shadow: 01px 5px 5px grey;
  width: 70vw;
  height: 40vh;
  border-radius: 10px;
}

body .content h1 {
  text-align: center;
  color: white;
  padding: 150px;
}
